@import '../../../design/variables.scss';

.btn {
	cursor: pointer;
	border-radius: 24px;
	border: none;
	padding: 1.6rem 3.2rem;
	font-size: 1.5rem;
	font-family: $bodyFont;
	font-weight: 700;
	transition: background 250ms ease-in;

	&.primary {
		background: $btnPrimary;
		color: $white;

		&:hover {
			background: $btnPrimaryHover;
		}
	}

	&.light {
		background: transparent;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background: $white;
			color: $textSecondary;
		}
	}

	&.demo {
		@media screen and (min-width: 768px) {
			position: absolute;
			right: 0;
		}
	}
}
