@import '../../../design/variables.scss';

.plans {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	padding-bottom: 8rem;

	@media screen and (min-width: 768px) {
		padding-bottom: 10rem;
		flex-direction: row;
		gap: 1rem;
	}
	@media screen and (min-width: 1024px) {
		gap: 3rem;
	}

	.planGroup {
		text-align: center;

		@media screen and (min-width: 1024px) {
			text-align: left;
		}

		.heading {
			color: $textPrimary;
			font-size: 2.4rem;
			margin: 0 0 1.7rem;

			@media screen and (min-width: 1024px) {
				font-size: 3.2rem;
			}
		}

		.tagline {
			margin: 0;
		}

		.price {
			font-size: 5.6rem;
			font-weight: 400;
			color: $textSecondary;
			font-family: $headingFont;
			display: inline-block;
			margin: 0.8rem 0 2.4rem;
		}

		.included {
			margin: 0;
			list-style: none;
			padding: 2.4rem 0;
			border-top: 1px solid rgba($blue, 0.25);
			border-bottom: 1px solid rgba($blue, 0.25);
			display: flex;
			flex-direction: column;
			text-align: left;
			gap: 0.8rem;
			align-items: center;

			@media screen and (min-width: 1024px) {
				align-items: flex-start;
			}

			li {
				display: inline-flex;
				gap: 2.4rem;
				width: 150px;
				font-size: 1.6rem;
				color: $textSecondary;
				font-weight: 500;
				opacity: 0.5;

				svg {
					visibility: hidden;
				}

				&.checked {
					opacity: 1;

					svg {
						visibility: visible;
					}
				}
			}
		}

		button {
			margin-top: 2.4rem;
		}
	}
}
