// Font
$headingFont: 'DM Serif Display', serif;
$bodyFont: 'Public Sans', sans-serif;

// Colors
// Backgrounds
$bgMain: rgb(237, 243, 248);
$bgSecondary: rgb(27, 38, 47);

// Typography
$textPrimary: rgb(186, 66, 112);
$textSecondary: rgb(54, 83, 107);
$textTertiary: rgb(27, 38, 47);

// Buttons
$btnPrimary: rgb(186, 66, 112);
$btnPrimaryHover: rgb(218, 109, 151);
$btnSecondary: rgb(54, 83, 107);

// Shared
$primary: rgb(186, 66, 112);
$white: rgb(251, 252, 254);
$red: rgb(255, 0, 0);
$lightBlue: rgb(108, 130, 148);
$blue: rgb(54, 83, 107);
$success: rgb(167, 241, 198);
